.vs
AppSettingsManager/AppSettingsManagerContent/js
AppSettingsManager/bin
AppSettingsManager/node_modules
AppSettingsManager/obj
AppSettingsManager/package-lock.json
AppSettingsManager.TestClient/bin
AppSettingsManager.TestClient/obj
AppSettingsManager/AppSettingsManagerContent/images
AppSettingsManager/AsmContent/images
AppSettingsManager/AsmContent/js
AppSettingsManager.TestClient/AsmDb
AppSettingsManager.DataAccess/obj
AppSettingsManager.DataAccess/bin
AppSettingsManager.Requests/bin
AppSettingsManager.Requests/obj
AppSettingsManager.Responses/bin
AppSettingsManager.Responses/obj
AppSettingsManager.Services/bin
AppSettingsManager.Services/obj
AppSettingsManager.Settings/bin
AppSettingsManager.Settings/obj
AppSettingsManager.UI/bin
AppSettingsManager.UI/obj
AppSettingsManager461/bin
AppSettingsManager461/obj
packages
AppSettingsManager.Entities/bin
AppSettingsManager.Entities/obj
AppSettingsManager461.TestClient/bin
AppSettingsManager461.TestClient/Content
AppSettingsManager461.TestClient/obj
AppSettingsManager461.TestClient/fonts
AppSettingsManager461.TestClient/Scripts
*.user
AppSettingsManager.Setup/obj
AppSettingsManager.Setup/bin
AppSettingsManager.UI/node_modules
AppSettingsManager.Exceptions/bin
AppSettingsManager.Exceptions/obj
AppSettingsManager.TestClient/wwwroot
