.vs
AppSettingsManager/AppSettingsManagerContent/js
AppSettingsManager/bin
AppSettingsManager/node_modules
AppSettingsManager/obj
AppSettingsManager/package-lock.json
AppSettingsManager.TestClient/bin
AppSettingsManager.TestClient/obj
AppSettingsManager/AppSettingsManagerContent/images
AppSettingsManager/AsmContent/images
AppSettingsManager/AsmContent/js
AppSettingsManager.TestClient/AsmDb
